#login_outer{
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;
}

#login_left{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 50%; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#login_right{
    height: 100%;
    width: 50%; 
    overflow: hidden;
}

#login_graphic{
    width: 100%;
    object-fit: cover;
}