.selectWrapper{
    border-radius:30px;
    display:inline-block;
    overflow:hidden;
    background:#cccccc;
    border:1px solid #cccccc;
  }
  .selectBox{
    width:140px;
    height:30px;
    border:0px;
    /* outline:none;
    border-radius:30px; */
  }