#outer{
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

#top{
    display: flex;
    flex-direction: row;
}

#left{
    width: 70%;
}
#right{
    display:flex;
    flex-direction: row;
}
#mailbox{
    position: absolute;
    float: right;
    padding-bottom: 250px;
}

#bottom{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

}