#pf_outer{
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

#pf_top{
    display: flex;
    flex-direction: row;
}

#pf_left{
    width: 70%;
}
#pf_right{
    display:flex;
    flex-direction: row;
}
#mailbox{
    position: relative;
    float: right;
    padding-bottom: 250px;
}

#pf_bottom{
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;

}