#outer{
    display: flex;
    flex-direction: row;

    height: 100%;
    width: 100%;
    overflow-y:auto;
}

#left{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 50%; 
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#right{
    height: 100%;
    width: 50%; 
    overflow: hidden;
}

#graphic{
    width: 100%;
    object-fit: cover;
}

