#position {
  position: absolute;
}

p,h1{
  font-family: "Poppins";
}

#intro{
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border-radius: 10px;
  padding-left: 5px;
  background-color: #e9ebed;

  
}