.selectWrapper{
  border-radius:30px; 
  display:inline-block;
  overflow:hidden;
  background:#fae1dd;
  width:140px;
  height:40px;
  border-style: solid;

}
.selectBox{
  border-style: hidden;
  width:150px;
  height:50px;
  outline:none;
}

.color{
color: aquamarine;
}